<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title><b>Reset Teacher Password</b></mat-card-title>
        <mat-card-content *ngIf="error">
            <small class="content mat-text-warn" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                {{ error }}
            </small>
        </mat-card-content>
        <mat-card-content>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                <div fxFlex="48" class="sec1" fxFlex.xs="55">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Emis code / Phone" [formControl]="form.controls['username']">
                    </mat-form-field>
                    <small *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched" class="mat-text-warn">Emis-code is required.</small>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
                <div fxFlex="48" class="sec1" fxFlex.xs="55">
                    <mat-form-field style="width: 100%">
                        <input type="password" matInput placeholder="New password" [formControl]="form.controls['new_password']">
                    </mat-form-field>
                    <small *ngIf="form.controls['new_password'].hasError('required') && form.controls['new_password'].touched" class="mat-text-warn">Password is required.</small>
                </div>
                <div fxFlex="48" class="sec2">
                    <mat-form-field style="width: 100%">
                        <input type="password" matInput placeholder="Confirm password" [formControl]="form.controls['c_password']">
                    </mat-form-field>
                    <small *ngIf="form.controls['c_password'].hasError('required') && form.controls['c_password'].touched" class="mat-text-warn">Confirm password is required.</small>
                </div>
            </div>
        </mat-card-content>
        <!-- end of section A -->
    </mat-card>
    <mat-card>
        <mat-card-content>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Reset Password</button>
        </mat-card-content>
    </mat-card>
</form>